:root[class*='dark'] {
    --surface-ground: var(--gray-930);
    --code-background: var(--p-surface-950);
    --code-color: var(--p-surface-100);

    --p-form-field-background: var(--gray-900);
    --p-form-field-border: var(--gray-800);
    --p-inputtext-hover-border-color: var(--gray-400);
    --p-multiselect-hover-border-color: var(--gray-400);
    --p-select-hover-border-color: var(--gray-400);

    --p-datatable-row-striped-background: var(--gray-930);

    --p-surface-800: var(--gray-800);
    --p-surface-900: var(--gray-900);

    --p-card-shadow: 0 1px 4px 0 rgba(205, 205, 205, 0.1)
}
